/* barra de navegación*/

.navbar {
    padding: 40px;
    height: 68px;
    background-color: black !important;
}

.navbar-collapse {
    align-items: center;
    justify-content: right;
}

.navbar-brand img {
    max-height: 44px;
    padding-left: 15px;
}

#ayuda, #contribuyentes, #institucional, #turnos {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: white;
    padding-right: 15px;
}

.carousel-indicators button {
    width: 10px;
    height: 10px;  
    border-radius: 50px;
    text-align: left;
}
